 header {
    padding: 25px 35px;
    background-color:#f7f9fa
}
header h1 {

    font-weight:bold;
    font-size: 36px;
    margin: 0px;
    color: #030200;
    display: inline;
    text-decoration: underline;
}

.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
   
    

    
  }
  .hero {
    background-image: url(hero-bg.jpeg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: auto;
    text-align: center;
   
  }
 